<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/backbone-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/django_ajax.js"></script>
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}javascript/common.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/app.js"></script>
  </head>
  <body>
    <div class="container tm20">
        <div class="header">
            <h1>Meta Data Reader</h1>
        </div>
        <div class="url-search">
            <input type="text" id="InputUrl" class="input_url" placeholder="Enter your url here">
            <input type="button"  id="SubmitUrl" class="btn btn-inverse" value="Sumbit">
        </div>
        <div id="content">
        <div class="loader hidden"> </div>
        {% block content %} {% endblock %}
        </div>
    </div><!-- container -->
  </body>
</html>

